@cL: #555, #999, #ebf0f5, #fff, #1c90f2, #f82d2d;
@url:'../img';

.transition(@property:all,@duration:1s,@time-function:linear,@delay:0s){
  -webkit-transition: @arguments;
  transition: @arguments;
}
