<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" charset="utf-8" type="text/css" href="css/reset.min.css"/>
    <link rel="stylesheet" charset="utf-8" type="text/css" href="css/index.css"/>
    <!--LESS-->
    <!--<link rel="stylesheet/less" href="css/index.less" type="text/css"/>
    <script charset="utf-8" type="text/javascript" src="js/less-2.5.3.min.js"></script>-->
</head>
<body>
<section class="main" id="main">
    <header class="header clearfix">
        <div class="con clearfix">
            <h1 class="logo">腾讯体育</h1>
            <span class="type">NBA</span>
            <span class="menu"></span>
            <span class="login">登录</span>
        </div>
        <nav class="nav clearfix">
            <a href="#">NBA</a>
            <a href="#">CBA</a>
            <a href="#">英超</a>
            <a href="#">欧冠</a>
            <a href="#">西甲</a>
            <a href="#">亚冠</a>
            <a href="#">意甲</a>
            <a href="#">德甲</a>
            <a href="#">法甲</a>
            <a href="#">中超</a>
            <a href="#">NFK</a>
            <a href="#">综合</a>
            <a href="#">欧州</a>
            <a href="#">社区</a>
            <a href="#">下载</a>
        </nav>
    </header>

    <!--VIDEO-->
    <!--只有preload="none"的时候，我们的poster才会起作用-->
    <section class="videoArea">
        <video controls preload="none" poster="img/poster.jpg"
               src="http://123.125.110.147/sports.tc.qq.com/n0022l198nl.mp4?vkey=DEC7D598F692AF72C3FFBEB55367DA9EF097493ADEC9B9DA98187F74E308C8A6393A1CAE6F1759F0DB539895CFBF034C8C1ABEF86731D76E9FCA12D1D41E502CF6B87DF5B48EE58B4EC81C0C13D3D6469373C3ED985651D2&amp;br=60&amp;platform=2&amp;fmt=auto&amp;level=0&amp;sdtfrom=v3010&amp;guid=17b13ea31747a7b4ce3e1cf4c9cd752b">

        </video>
    </section>

    <!--MATCH INFO-->
    <section class="matchInfo">

    </section>

    <!--MATCH LIST-->
    <section class="matchList">
        <ul class="clearfix">

        </ul>
    </section>

</section>

<script charset="utf-8" type="text/javascript" src="js/zepto.min.js"></script>
<script charset="utf-8" type="text/javascript" src="js/iscroll-5.1.3.min.js"></script>
<script charset="utf-8" type="text/javascript" src="js/ejs.min.js"></script>
<script charset="utf-8" type="text/template" id="matchInfoTemplate">
    <div class="top">
        <div class="home">
            <img src="<%= matchInfo.leftBadge %>" alt=""/>
            <span><%= matchInfo.leftGoal %></span>
        </div>
        <div class="time"><%= matchInfo.startTime.formatTime('{1}月{2}日 {3}:{4}') %></div>
        <div class="away">
            <span><%= matchInfo.rightGoal %></span>
            <img src="<%= matchInfo.rightBadge %>" alt=""/>
        </div>
    </div>
    <div class="middle">
        <span></span>
    </div>
    <div class="bottom">
        <span class="home" type="1"><%= matchInfo.leftSupport %></span>
        <span class="type"><%= matchInfo.matchDesc %></span>
        <span class="away" type="2"><%= matchInfo.rightSupport %></span>
    </div>
</script>
<script charset="utf-8" type="text/template" id="matchListTemplate">
    <%$.each(matchList,function(index,item){%>
    <li class="<%=index===0?'bg':''%>">
        <div><img src="<%=item.pic%>" alt=""/><span><%=item.duration.substring(item.duration.indexOf(':')+1)%></span></div>
        <p><%=item.title%></p>
    </li>
    <%})%>
</script>
<script charset="utf-8" type="text/javascript" src="js/index.js"></script>
</body>
</html>